@import "../../../sass/abstracts/variables";

.credit-card {
  height: 11.8rem;
  background-color: $color-white;

  box-shadow: $box-shadow;

  h3 {
    font-size: 1.4rem;
    font-weight: 300;
  }
  p {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $color-secondary;
  }
  h1 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  h5 {
    font-size: 24px;
    line-height: 21px;
    font-weight: 500;
  }
}
