$color-primary: #000000;
$color-secondary: #212121;
$color-white: #ffff;
$color-light-gray: #f2f2f2;
$color-secondary-gray:#7c7c7c ;



$bg-color-lime: #00c183;
$bg-color-secondary-lime:#14DC9C;


$box-shadow :0rem 0rem 0.8rem 0rem #0000001a;

$bg-fund-icon:#ebf1f8;