<div
  class="col-12 text-center bg-color-lime header scroll-watcher position-relative scroll-watcher"
>
  <div
    class="d-flex justify-content-between position-relative align-items-center m-4"
  >
    <h1 class="fw-semibold">Hi, John!</h1>
    <div class="d-flex gap-4 headers-img">
      <img src="../../../assets/images/qrcodelogo.svg" alt="qr code logo " />
      <img src="../../../assets/images/supportLogo.svg" alt="support logo" />
    </div>
    <div class="position-absolute balance">
      <p class="lead">Available Balance</p>
      <div class="d-flex align-items-center justify-content-center gap-3">
        <h2>$4,562.52</h2>
        <img src="../../../assets/images/downArrow.svg" alt="down arrow" />
      </div>
    </div>
  </div>
</div>
