@import "../../../sass/abstracts/variables";

* {
  color: $color-white;
}
.header {
  // height: 20.7rem;
  background-color: $bg-color-lime;

  h1 {
    font-size: 1.6rem;

    line-height: 2rem;
  }
  p {
    font-size: 1.4rem;
  }

  .headers-img img {
    background-color: $bg-color-secondary-lime;
    padding: 0.5rem;
    border-radius: 5px;
  }
}

h2 {
  font-size: 3.2rem;
  animation: h1 linear;

  animation-timeline: scroll();
}

.balance {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  animation: balance linear;
  animation-timeline: scroll();
}
